*~
*.swp
*.la
*.a
*.o
*.lo
*.pyc
*.pyo
*.deps/
Makefile.in
Makefile
.libs
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/confdefs.h
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/path.h
/autom4te.cache/
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/client/c/gen/
/src/client/cs/EIBConnection.cs
/src/client/cs/EIBConnection.post
/src/client/cs/result.inc
/src/client/lua/EIBConnection.lua
/src/client/lua/gen
/src/client/lua/gen.inc
/src/client/lua/result.inc
/src/client/pascal/EIBD.pas
/src/client/pascal/gen
/src/client/pascal/gen.inc
/src/client/pascal/genh
/src/client/pascal/genh.inc
/src/client/pascal/result.inc
/src/client/perl/EIBConnection.p
/src/client/perl/EIBConnection.p1
/src/client/perl/EIBConnection.pm
/src/client/perl/EIBConnection.post
/src/client/perl/result.inc
/src/client/php/EIBConnection.php
/src/client/php/EIBConnection.post
/src/client/php/eibclient.php
/src/client/php/result.inc
/src/client/python/EIBConnection.py
/src/client/python/gen
/src/client/python/gen.inc
/src/client/python/result.inc
/src/client/ruby/gen
/src/client/ruby/gen.inc
/src/client/ruby/result.inc
/src/client/ruby/EIBConnection.rb
/src/client/go/EIBConnection.go
/src/client/go/gen
/src/client/go/gen.inc
/src/client/go/result.inc

/src/examples/busmonitor1
/src/examples/busmonitor2
/src/examples/busmonitor3
/src/examples/groupcacheclear
/src/examples/groupcachedisable
/src/examples/groupcacheenable
/src/examples/groupcachelastupdates
/src/examples/groupcacheread
/src/examples/groupcachereadsync
/src/examples/groupcacheremove
/src/examples/grouplisten
/src/examples/groupread
/src/examples/groupreadresponse
/src/examples/groupresponse
/src/examples/groupsocketlisten
/src/examples/groupsocketread
/src/examples/groupsocketswrite
/src/examples/groupsocketwrite
/src/examples/groupsresponse
/src/examples/groupswrite
/src/examples/groupwrite
/src/examples/madcread
/src/examples/maskver
/src/examples/mmaskver
/src/examples/mpeitype
/src/examples/mprogmodeoff
/src/examples/mprogmodeon
/src/examples/mprogmodestatus
/src/examples/mprogmodetoggle
/src/examples/mpropdesc
/src/examples/mpropread
/src/examples/mpropscan
/src/examples/mpropscanpoll
/src/examples/mpropwrite
/src/examples/mread
/src/examples/mrestart
/src/examples/msetkey
/src/examples/mwrite
/src/examples/mwriteplain
/src/examples/progmodeoff
/src/examples/progmodeon
/src/examples/progmodestatus
/src/examples/progmodetoggle
/src/examples/readindividual
/src/examples/vbusmonitor1
/src/examples/vbusmonitor1poll
/src/examples/vbusmonitor1time
/src/examples/vbusmonitor2
/src/examples/vbusmonitor3
/src/examples/writeaddress
/src/examples/xpropread
/src/examples/xpropwrite

/src/tools/eibread-cgi
/src/tools/eibwrite-cgi
/src/tools/knxtool

/src/server/knxd
/src/tools/bcu/bcuaddrtab
/src/tools/bcu/bcuread
/src/tools/eibnet/eibnetdescribe
/src/tools/eibnet/eibnetsearch
/src/usb/findknxusb
/systemd/*.service
/systemd/*.socket
/stamp-h1
/autom4te.cache
/rpm/knxd.spec
/version.h
/src/tools/eibread-cgi
/src/tools/eibwrite-cgi
/src/server/knxd_args
/tools/test_inih
/src/tools/knxtool
/libev/
/libfmt/
