Stefan Hoffmeister <stefan@hoffmeister.biz>
Michael Markstaller <mm@elabnet.de>
Joerg Mattiello <dev@mjoe.org> <jmattiello@gmail.com>
Patrik Pfaffenbauer <patrik.pfaffenbauer@p3.co.at> <dev@tera-dev.beka-consulting.local>
Timo Wingender <github@timo-wingender.de>
Matthias Urlichs <matthias@urlichs.de> <smurf@smurf.noris.de>
Matthias Urlichs <matthias@urlichs.de> <smurf@zot.intern.smurf.noris.de>
Matthias Urlichs <matthias@urlichs.de> root <root@a2.pi.smurf.noris.de>
Lars Tolkmitt <lars@stefla-web.de>
akellai <akellai@users.noreply.github.com> akellai <no-reply>
Thomas Dallmair <dev@thomas-dallmair.de> <dallmair@users.noreply.github.com>
Matthias Fechner <idefix@fechner.net> Matthias <idefix@fechner.net>
Richard Hartmann <richih@debian.org> <RichiH@users.noreply.github.com>
Michael Kefeder <mike@multiwave.ch> <m.kefeder@gmail.com>
Trond Kjeldås <trond@kjeldas.no> Trond Kjeldås <trond@kjeldas.no>
Harald Leithner <leithner@itronic.at> Harald <leithner@itronic.at>
