Stefan Hoffmeister <stefan@hoffmeister.biz>
Michael Markstaller <mm@elabnet.de>
Joerg Mattiello <dev@mjoe.org> <jmattiello@gmail.com>
Patrik Pfaffenbauer <patrik.pfaffenbauer@p3.co.at> <dev@tera-dev.beka-consulting.local>
Timo Wingender <github@timo-wingender.de>
Matthias Urlichs <matthias@urlichs.de> <smurf@smurf.noris.de>
Matthias Urlichs <matthias@urlichs.de> <smurf@zot.intern.smurf.noris.de>
Lars Tolkmitt <lars@stefla-web.de>
