Source: knxd
Section: net
Priority: optional
Maintainer: Timo <knxd@timo-wingender.de>
Build-Depends: debhelper (>= 7.0.0),
  autotools-dev,
  libpthsem-dev, libpthsem20,
  libusb-1.0-0 (>= 1.0.10), libusb-1.0-0-dev (>= 1.0.10),
  pkg-config,
  libsystemd-daemon-dev,
  debianutils,
Standards-Version: 3.9.4
Homepage: https://github.com/Makki1/knxd
Vcs-Git: https://github.com/Makki1/knxd.git
#Vcs-Browser: 

Package: knxd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpthsem20, libusb-1.0-0 (>= 1.0.10)
Replaces: eibd, eibd-server
Conflicts: eibd, eibd-server
Description: knxd is a daemon to access a KNX bus
 knxd is a fork of eibd from bcusdk.
 This Package contains the daemon to access the bus.

Package: knxd-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpthsem20, libusb-1.0-0
Replaces: eibd-clients, eibd-server, libeibclient0
Conflicts: eibd-clients, eibd-server, libeibclient0
Description: Tools to use knxd
 These are tools to access a KNX bus over the knxs Daemon

Package: knxd-dev
Architecture: all
Description: Development files for knxd
 These are the development files for knxd clients

Package: knxd-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: documentation and examples for knxd
 These are example programs for knxd

#Package: knxd-doc
#Architecture: all
#Description: documentation for knxd
# <insert long description, indented with spaces>
